@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 150px;
  width: 550px;
  margin: 0 auto;
  background-color: #e0e5ec;
  color: rgba(34, 48, 74);
}

h3 {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
}

textarea {
  width: 100%;
  height: 350px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #e0e5ec;
  box-shadow: inset 3px 3px 5px #babecc, inset -3px -3px 5px #f2f3f5;


}

.output.row {
  padding: 70px;
  font-size: 1rem;
}

.output.row div {
  text-align: center;
}
  